@media print {

	.noprint {
		display: none;
	}

	/* ====   PRC ACTIONS =====*/
	td.notStarted{							/* RED: .notStarted */
		background-color: #F16C6C !important;
		text-align: center;
		padding: 5px;
	}
	
	
	td.pending, td.drafted, td.translating{		/* ORANGE: .pending, .drafted, .translating */
		background-color: #FFCE85 !important;
		text-align: center;
		padding: 5px;
	}

	/*==== BREVILLE ACTIONS =====*/	
	td.notAvailable, td.pendingApproval{		/*PURPLE: .notAvailable, .pendingApproval */
		background-color: #BC9CFF !important;
		text-align: center;
		padding: 5px;
	}

	td.approved, td.completed{							/*GREEN: .approved, .completed */
		background-color: #ACC875 !important;
		text-align: center;
		padding: 5px;
	}

	td.neutralCell{									/*WHITE: .neutralCell */
		background-color: #FFF !important;
		font-size: 120%;
	}
	/*-- end of Table Formatting --*/
}

@media screen {

/* NAVBAR */
	.navbar {		margin-bottom: 0;	}
	 
	 .modal-body{
		width: 100%;
		height: 100%;
	 }
	 
	 .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
		color:white;	
		font-family: "Verdana", Geneva, sans-serif;
	 }
	 
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus{
		color: white;
	}
	 
	 .img-responsive{
		max-width: 100%;
		max-height: 400px; 	
		margin-left: auto;
		margin-right: auto;
	 }
	 
	 h3 {	margin-top: 0px;	 }

/* TABLE FORMATTING */
	#myTable a {
		color: black;
	}

	#myTable a:hover{
		text-decoration: none;
		color: white;
	}
	
.tableTitle{
	font-size: 38px;	
	text-align: center;
}	

/* ====   PRC ACTIONS =====*/
		.notStarted{							/* RED: .notStarted */
			background-color: #F16C6C;
			text-align: center;
			padding: 5px;
			font-weight: bold;
		}
		
		
		.pending, .drafted, .translating{		/* ORANGE: .pending, .drafted, .translating */
			background-color: #FFCE85;
			text-align: center;
			padding: 5px;
			font-weight: bold;
		}

/*==== BREVILLE ACTIONS =====*/	
		.notAvailable, .pendingApproval{		/*PURPLE: .notAvailable, .pendingApproval */
			background-color: #BC9CFF;
			text-align: center;
			padding: 5px;
			font-weight: bold;
		}

.approved, .completed{							/*GREEN: .approved, .completed */
	background-color: #ACC875;
	text-align: center;
	padding: 5px;
	font-weight: bold;
}

.neutralCell{									/*WHITE: .neutralCell */
	background-color: white;
	font-weight: bold;
	font-size: 120%;
}
/*-- end of Table Formatting --*/


.modalWindowIcon{	max-height: 65px;}
			
th { 
	text-align: center;
	vertical-align: middle !important;
	font-size: 130% !important;
	//border: 1px solid black !important;

}
td {	
	min-width:50px;
	vertical-align: middle !important;
	//border: 1px solid black !important;
}

table.tablesorter { 
	background-color: #D0DAE0; 
}

table.tablesorter thead tr th{
	background-color: #d0dae0;
	border: 1px solid #999999;
	padding: 10px;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp{
	background-color: #a2b6c2 ;
}

.tablesorter .filter {
    width: 100%;
    border-radius: 5px;
    height: 30px;
}

.items {
	padding-left: 10px !important;
}

.items a:hover{
	color: blue !important;
}

.close-round {
	opacity: 1 !important;
	color: #93CBF9;
    filter: alpha(opacity=20);
    opacity: .2;
    width: 40px;
    border: 5px solid #93CBF9 !important;
    height: 40px;
    border-radius: 50px;
    margin-right: -35px;
    margin-top: -35px !important;
    position: relative;
    background-color: #FFFFFF !important;
}

.close-round-default {
	opacity: 1 !important;
	color: #000;
    filter: alpha(opacity=20);
    opacity: .2;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: -35px;
    margin-top: -35px !important;
    position: relative;
    background-color: #FFFFFF !important;
}

/** nav bar **/
.navbar-nav>li>a {
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
}
.navbar-nav>li>a:hover {
	text-decoration: none;
	background-color: transparent;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
}
.navbar-nav>li>a:focus {
	background-color: #37B0D5 !important;
}
.btn-info:hover{
	background-position: 0px;
}
.dropdown-menu>li>a:hover {
	background-color: red;
}

.text-center{
	background-color: #F9F8F6;
	color: #000;
}


.row{
/*	background-image: url("../img/Header.jpg");
	height: 110px;
	*/
    height: 50px;
    margin: auto;
    background-repeat: no-repeat;
}

.sidebar-top{
	background-color: #fff; 
}

.sidebar-top a{
	color: #fff;
}

.navbar-nav>li>a:focus {
	background-color: transparent !important;	
}
.sidebar-top a:focus{
	background-color: transparent !important;
}

#logo {
	min-height: 100px;

	background-repeat: no-repeat;
	text-align: center;
}

#mynavbar{
    min-height: 45px;
    padding: 10px 10px 10px 10px;
    background-color: #428bca;
/*    background-color: #93CBF9;*/
}

.navbar-nav .open .dropdown-menu {
	background-color: #fff;
}

.navbar-nav .open .dropdown-menu>li>a:hover {
	background-color: #5BC0DE;
}

}